<template>
    <div class="registration flex flex-center">
        <q-form
            @submit="register"
        >
            <q-card style="min-width: 400px">
                <q-card-section>
                    <div class="text-h6">Registration</div>
                </q-card-section>

                <q-card-section>
                    <q-input color="primary" v-model="lastName" type="text" label="First name" autofocus :rules="[val => !!val || 'This field is required']" lazy-rules  />
                    <q-input color="primary" v-model="firstName" type="text" label="Last name" :rules="[val => !!val || 'This field is required']" lazy-rules />
                    <q-input color="primary" v-model="email" type="email" label="Email" :rules="emailValidator" lazy-rules  />
                    <q-input color="primary" label="Phone" v-model="phone" placeholder="  x x x   x x   x x   x x" mask="(###) ### - ####" prefix="+38" :rules="[val => !!val || 'This field is required']" lazy-rules  />
                    <q-input color="primary" v-model="password" type="password" label="Password" :rules="[val => !!val || 'This field is required']" lazy-rules  />
                    <q-input color="primary" v-model="repeatPassword" type="password" label="Repeat Password" :rules="[val => !!val || 'This field is required', val => val==password || 'Password doesn\'t match']" lazy-rules />
                </q-card-section>
                <q-card-section>
                    <div class="text-h6">Select Colors</div>
                </q-card-section>
                <q-card-section>
                    <q-checkbox v-model="selectedColors" :label="item.label" :color="item.color" :val="item.val" v-for="item in colors" :key="item.val" />
                </q-card-section>

                <q-card-actions align="right" class="text-primary">
                    <q-btn color="primary" label="Submit" type="submit" />
                </q-card-actions>
            </q-card>
        </q-form>
    </div>
</template>

<script>
export default {
    data() {
        return {
            message: false,

            colors: [
                {
                    label: 'Teal',
                    val: 'teal',
                    color: 'teal'
                },
                {
                    label: 'Orange',
                    val: 'orange',
                    color: 'orange'
                },
                {
                    label: 'Red',
                    val: 'red',
                    color: 'red'
                },
            ],
            emailValidator: [
                val => !!val || 'This field is required', 
                (val)=> {
                    const emailRE = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                    return emailRE.test(this.email) != false || 'Email is wrong'
                }
            ]
        }
    },
    methods: {
        register() {
            this.$store.dispatch('registration/registerUser');
        },
    },
    computed: {
        firstName: {
            get() {
                return this.$store.state.registration.firstName
            },
            set(newValue) {
                this.$store.commit('registration/setFirstName', newValue)
            }
        },
        lastName: {
            get() {
                return this.$store.state.registration.lastName
            },
            set(newValue) {
                this.$store.commit('registration/setLastName', newValue)
            }
        },
        email: {
            get() {
                return this.$store.state.registration.email
            },
            set(newValue) {
                this.$store.commit('registration/setEmail', newValue)
            }
        },
        phone: {
            get() {
                return this.$store.state.registration.phone
            },
            set(newValue) {
                this.$store.commit('registration/setPhone', newValue)
            }
        },
        selectedColors: {
            get() {
                return this.$store.state.registration.selectedColors
            },
            set(newValue) {
                this.$store.commit('registration/setSelectedColors', newValue)
            }
        },
        password: {
            get() {
                return this.$store.state.registration.password
            },
            set(newValue) {
                this.$store.commit('registration/setPassword', newValue)
            }
        },
        repeatPassword: {
            get() {
                return this.$store.state.registration.repeatPassword
            },
            set(newValue) {
                this.$store.commit('registration/setReapeatPassword', newValue)
            }
        },
    }
}
</script>

<style lang="scss" scoped>
.registration {
    height: calc(100vh - 50px);
}
</style>
